<footer class="bg-dark text-white pt-5 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <h5>About This Project</h5>
                <p>An interactive exploration of America's first constitution and its impact on the early United States.</p>
            </div>
            <div class="col-lg-4 mb-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#overview" class="text-white-50">Overview</a></li>
                    <li><a href="#timeline" class="text-white-50">Historical Timeline</a></li>
                    <li><a href="#gallery" class="text-white-50">Document Gallery</a></li>
                    <li><a href="#impact" class="text-white-50">Impact Analysis</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h5>Educational Resources</h5>
                <ul class="list-unstyled">
                    <li><a href="https://www.archives.gov" target="_blank" class="text-white-50">National Archives</a></li>
                    <li><a href="https://www.loc.gov" target="_blank" class="text-white-50">Library of Congress</a></li>
                    <li><a href="https://www.ushistory.org" target="_blank" class="text-white-50">US History.org</a></li>
                </ul>
            </div>
        </div>
        <hr class="my-4">
        <div class="text-center">
            <p class="mb-0">&copy; 2025 US History Project - Articles of Confederation. All rights reserved.</p>
            <p class="small text-white-50 mb-0">Created for educational purposes</p>
        </div>
    </div>
</footer>
